<form action = "/sightings/{unique_squi_id}", method = "post">
	<label for = 'unique_squi_id'>unique squirrel id</label>
	<input id="x" type="text" name="squi_id" value="">
	<input type="submit" value="OK">
</form>
<form action = "/sightings/{unique_squi_id}", method = "post">
        <label for = 'unique_squi_id'>x</label>
        <input id="x" type="text" name="squi_id" value="">
        <input type="submit" value="OK">
</form>
<form action = "/sightings/{unique_squi_id}", method = "post">
        <label for = 'unique_squi_id'>y</label>
        <input id="x" type="text" name="squi_id" value="">
        <input type="submit" value="OK">
</form>
<form action = "/sightings/{unique_squi_id}", method = "post">
        <label for = 'unique_squi_id'>age</label>
        <input id="x" type="text" name="squi_id" value="">
        <input type="submit" value="OK">
</form>
<form action = "/sightings/{unique_squi_id}", method = "post">
        <label for = 'unique_squi_id'>date</label>
        <input id="x" type="text" name="squi_id" value="">
        <input type="submit" value="OK">
</form>
<form action = "/sightings/{unique_squi_id}", method = "post">
        <label for = 'unique_squi_id'>location</label>
        <input id="x" type="text" name="squi_id" value="">
        <input type="submit" value="OK">
</form>
